@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  --Red: hsl(14, 86%, 42%);
  --Dark-red: #952c0c;
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}
body {
  background-color: var(--Rose-50);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
}
.app {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px 0 100px;
  position: relative;
}
.title {
  padding-bottom: 30px;
}
.image-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.image-box > img {
  width: 250px;

  border-radius: 10px;
}
.add-btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  border: 1px solid var(--Rose-500);
  position: absolute;
  top: 220px;
  left: 50px;
  font-weight: bold;
  cursor: pointer;
}
.product-detail {
  padding-top: 40px;
  line-height: 30px;
}
p {
  color: var(--Rose-500);
}
.price {
  color: var(--Red);
}
.title,
.desciption {
  color: var(--Rose-900);
}
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
  gap: 30px;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
}
.shopping-cart {
  background-color: white;
  width: 350px;
  height: 60%;
  padding: 20px 30px;
  text-align: center;
  border-radius: 10px;
}
.shopping-cart > h2 {
  text-align: left;
  color: var(--Red);
}
.shopping-cart > img {
  padding-top: 40px;
  padding-bottom: 20px;
}

.order-container {
  list-style: none;
  text-align: left;
}
.order-container > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Rose-100);
  padding: 20px 0 15px 0;
}
.quantity {
  font-weight: 600;
  color: var(--Red);
}
.unit-price {
  padding: 0 10px 0 20px;
}
.unit-total {
  font-weight: 600;
}
.btn-delete {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Rose-400);
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
  color: var(--Rose-300);
}
.btn-delete:hover {
  border: 2px solid var(--Rose-900);
  color: var(--Rose-900);
  font-weight: 600;
}
.order-name {
  font-weight: 600;
  color: var(--Rose-900);
  margin-bottom: 10px;
}
.order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.order-total > p {
  color: var(--Rose-900);
  font-weight: 500;
  font-size: 18px;
}
.delivery-info {
  background-color: var(--Rose-50);
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}
.btn-comfirm-order {
  width: 100%;
  color: var(--Rose-50);
  background-color: var(--Red);
  height: 50px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0 30px 0;
  cursor: pointer;
}
.btn-comfirm-order:hover {
  background-color: var(--Dark-red);
}
/* Active */
.add-btn-active {
  background-color: var(--Red);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--Rose-50);
}
.add-btn-active > img {
  border: 1px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 2px;
}

.modal {
  background-color: white;
  width: 400px;
  position: fixed;
  top: 10%;
  left: 40%;
  z-index: 1;
  padding: 30px;
  border-radius: 20px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}
.confirm-title > h1 {
  padding: 10px 0 10px 0;
}
.confirm-title > p {
  padding-bottom: 30px;
}
.confirm-container {
  background-color: var(--Rose-50);
  padding: 10px 20px 0 20px;
}
.confirmed-order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Rose-100);
  padding-top: 10px;
  padding-bottom: 10px;
}
.confirmed-order-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmed-order-details > div > img {
  width: 50px;
  margin-right: 10px;
}

.confirm-total-price {
  color: var(--Rose-900);
  font-weight: bold;
  font-size: 16px;
}
